<div class="row" style="width:100%">
  <div class="col-md-8 noRightPadding">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <img class="slider" src="{{ showSlide(slides, i) }}" alt="slide" >
      </div>
   </div>
  </div>
  <!-- <div class="col-md-4 noRightPadding">
    <img src="{{ showSlide(slides, i) }}" style="width:100%; background:#f00; height:200px">
    <div class="card " style="width:100%; height:100px">
    <div class="row" style="height:100%;" >
      <img class="card-img-top col-sm-6" src="{{task.image}}" alt="Card image" style="float:left; height:100%;" >
      <div class="card-body col-sm-6" style="float:left;height:100%;">
        <h6 class="card-title">cba</h6>
        <p class="card-text"><small>cdsb</small></p>
      </div>
     </div>
    </div>
    <div class="card " style="width:100%; height:100px">
    <div class="row" style="height:100%;" >
      <img class="card-img-top col-sm-6" src="{{task.image}}" alt="Card image" style="float:left; height:100%;" >
      <div class="card-body col-sm-6" style="float:left;height:100%;">
        <h6 class="card-title">csnk</h6>
        <p class="card-text"><small>cjsd</small></p>
      </div>
     </div>
    </div>
  </div> -->
</div>
