sxjasbxckh
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">

    <mdb-slide>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
    </mdb-slide>
    <
    <mdb-slide>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </mdb-slide>

    <mdb-slide>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </mdb-slide>

</mdb-carousel>
